<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="index.js"></script>
</head>
<body>
    <script>function myFunction(key){
    var x = document.getElementById(key);
    console.log(x);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
}</script>
    <img src="C:\Users\snowp\Downloads\wildlife\PetImages\americanRobin\IMGP5639.JPG">
    {{#each images}}
   <h1> {{@key}}</h1>
   <button onclick="myFunction({{@key}})">Click Me</button>
    {{!-- <img src="{{this}}"> --}}
        {{#each this}}
         <img src="{{this}}" id="{{@../key}}" width="250" height="250">
        {{/each}}
    <br>
    {{/each}}
</body>
</html>